{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images %}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  <div class="container">

  <div class="card-columns">
    {% for image in images%}
    <div class="card border-secondary">
        <img style="height:300px;width:355px;" src="{{image.image.url}}"
           data-target="#imageModal{{image.id}}" data-toggle="modal"
           alt="" class="img-fluid" id="eachimage" size="100px200"><br><br>
      </div>
    {% endfor %}
  </div>
  </div>
  {% endif %}
</div>
</div>
<!--modal-->
{% for image in images%}
<div class="modal fade" id="imageModal{{image.id}}" tabindex="-1"
role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
   <img src="{{image.image.url}}"
        data-toggle="modal" alt="" style="height:600px;width:500px;">
   <div class="modal-header">
   <h4 id="modal-text text-center">Image Name:{{image.name}}</h4>
       <h4 style="font-family: 'Kodchasan', sans-serif;color:black;" id="modal-text ">Image Location:{{image.location}}</h4>
       
 </div>
 <div class="modal-footer">

   <h5 id=modal-text>Image Description:{{image.description}}</h5>

   <button type="button" class="btn btn-outline-secondary
   my-2 my-sm-0" data-dismiss="modal">Close</button>

 </div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}
